Flask==0.10.1
Flask-Bootstrap==3.3.0.1
Flask-Login==0.2.11
Flask-Migrate==1.5.1
Flask-SQLAlchemy==2.0
Flask-Script==2.0.5
Flask-WTF==0.10.3
Jinja2==2.7.3
Mako==1.0.2
MarkupSafe==0.23
SQLAlchemy==1.0.8
WTForms==2.0.1
Werkzeug==0.9.6
alembic==0.8.2
argparse==1.2.1
decorator==4.0.2
flask-mongoengine==0.7.1
ipdb==0.8.1
ipython==4.0.0
ipython-genutils==0.1.0
itsdangerous==0.24
mongoengine==0.8.7
path.py==8.1.1
pexpect==3.3
pickleshare==0.5
pymongo==2.7.2
python-editor==0.4
simplegeneric==0.8.1
traitlets==4.0.0
wsgiref==0.1.2
